.network-packet {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 3;
    border-radius: 0.25rem; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
}

.packet-a-to-b {    
    background-color: #0040cb !important; 
    top: calc(50% - 30px);
    animation: slideAtoB 2s linear forwards;
}

.packet-b-to-a {
    background-color: #059400 !important;
    top: calc(50% + 10px);
    animation: slideBtoA 2s linear forwards;
}

@keyframes slideAtoB {
    from { left: 0; }
    to { left: calc(100% - 20px); } 
}

@keyframes slideBtoA {
    from { right: 0; }
    to { right: calc(100% - 20px); }
}
p{
    font-size: 1rem !important
}