section {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}
section p {
    text-indent: 2em;
}

.navSection {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background: #f0f0f0;
  padding: 10px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
  z-index: 1000;
}
.navSection img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.navSection h2 {
  margin-top: 0;
}

.navSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navSection li {
  margin: 10px 0;
}

.navSection a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.3s;
}

.navSection a:hover {
  color: #007bff;
  background-color: #e9ecef;
}

.documentation {
  margin-left: 220px;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
  background: #ffffff;
}